/**
 * @Author: baodongdong
 * @Date:   2017-11-18T15:17:48+08:00
 * @Last modified by:   baodongdong
 * @Last modified time: 2017-11-18T16:46:47+08:00
 */

.nav-simple{
  height: 60px;
  line-height: 60px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.nav-simple .logo{
  font-size: 26px;
  font-weight: bold;
  color: #c60023;
}
